<p>Search for a bus stop name here, or try <a href="/nearby">autolocation</a>.</p>
<form action="/" method="get">
  <input name="search" type="text" />
  <input type="submit" value="Search">
</form>

<% if @search_results %>
  <ul>
  <% @search_results.each do |result| %>
    <% if !result["routes"].empty? %>
      <li>
        <a href="/stop/<%= result["id"] %>">
          <%= result["name"] %>
          <% if result["stopIndicator"] %>
            (<%= result["stopIndicator"] %>)
          <% end %>
        </a> (<a href="http://maps.google.com/maps?z=16&q=loc:<%= result["lat"]%>+<%= result["lng"]%>">map</a>)
        <% if result["towards"] %>
        <br />
          Towards <%= result["towards"].downcase.gsub(/\b\w/){$&.upcase} %>
        <% end %>
        <br />
        <%= result["routes"].collect {|x| x["name"]}.join(", ") %>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>